#home .navbar h1 {
    margin: 3px 0;
    text-align: center;
    float: none;
}
#home .navbar button {
    position: absolute;
    margin-top: 5px;
}
#home .main-battle {
    background-color: #385067;
    margin-top: -21px;
    padding-bottom: 30px;
}
#home ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 14px;
    line-height: 24px;
}
#home ul a:before {
   content: "\00a0";
}
#home ul a:after {
   content: "\00a0";
}
#home ul a:hover {
    text-decoration: overline;
    background-color: #385067;
}

#home #cr-stage {
    margin: 0 auto;
    display: none;
}

#home #cr-stage #frontCover {
    width: 600px;
    height: 300px;
    background-color: #000;
    opacity: 0.5;
    position: absolute;
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
}

#home #cr-stage #frontCover span.glyphicon {
    font-size: 58px;
    line-height: 300px;
    text-align: center;
}