#home {
    .github-ribbon {
        z-index:1001;
        position: absolute;
        top: 0;
        right: 0;
        border: 0;
    }
    .navbar {
        h2 {
            margin: 7px 0 0 0;
        }
        form {
            margin-top: 6px;
            #file {
                display: none;
            }
            span.or {
                padding: 0 7px;
            }
        }
    }
    .main-battle {
        background-color: #385067;
        margin-top: -21px;
        padding-bottom: 30px;
        h2 {
            display: inline-block;
        }
        button {
            float: right;
        }
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 14px;
        line-height: 24px;
        a {
            text-decoration: none;
            padding: 0 10px;
            &:hover {
                border-top: 1px solid #df691a;
                background-color: #385067;
            }
            &.active {
                border-top: 0px;
                border-right: 3px solid #df691a;
                &.red {
                    border-color: #a32327;
                }
                &.blue {
                    border-color: #018188;
                }
            }
        }

    }
    #cr-stage {
        margin: 0 auto;
        width: 600px;
        background: #000 url("/static/img/bg.png");
        #frontCover {
            width: 600px;
            height: 300px;
            background-color: #000;
            opacity: 0.5;
            position: absolute;
            z-index: 1000;
            margin: 0 auto;
            text-align: center;
            cursor: pointer;
            span.glyphicon {
                font-size: 58px;
                line-height: 300px;
                text-align: center;
            }
        }
    }
    #player-controls {
        width: 600px;
        margin: 0 auto;
        .glyphicon {
            padding: 9px 0 0 13px;
            font-size: 32px;
            cursor: pointer;
            &.active {
                color: #5bc0de;
            }
            &.disabled {
                color: #4e5d6c;
                cursor: default;
            }
        }
        .share {
            margin-top: 15px;
            span {
                margin-top: 2px;
                display: inline-block;
                font-size: 18px;
            }
        }
        .progress {
            width: 100%;
            margin-top: 20px;
            float: left;
        }
    }
}
