<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Minions</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
    <style>
        .navbar h1 {
            margin: 3px 0;
            text-align: center;
            float: none;
        }
        .navbar button {
            position: absolute;
        }
    </style>
  </head>
  <body id="home">
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <button type="button" class="btn btn-default navbar-btn">Upload your army <span class="glyphicon glyphicon-open-file" aria-hidden="true"></span></button>
            <h1 class="navbar-text">Minons, bitch!</h1>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Fight for 22-02-15</h3>
                <ul>
                    <li><a href="#">max -vs- <b>volrath</b></a></li>
                    <li><a href="#"><b>ctaloc</b> -vs- i7</a></li>
                    <li><a href="#"><b>i7</b> -vs- volrath</a></li>
                    <li><a href="#">i7 -vs- <b>max</b></a></li>
                    <li><a href="#">volrath -vs- <b>ctaloc</b></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <div>
                    <h2>Random Fight</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/N9PMN0nBx8Y" frameborder="0" allowfullscreen></iframe>
                </div>
                <div>
                    <b>max -vs- volrath</b>
                    <span class="pull-right">22-02-15 13:18:32</span>
                </div>
            </div>
            <div class="col-md-3">
                <h3>Top armies</h3>
                <ul>
                    <li><a href="#"><b>max</b> 1520 flops</a></li>
                    <li><a href="#"><b>volrath</b> 1250 flops</a></li>
                    <li><a href="#"><b>ctaloc</b> 1235 flops</a></li>
                    <li><a href="#"><b>i7</b> 1200 flops</a></li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.js') }}"></script>
  </body>
</html>
