<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Vikings, please!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/bootstrap-superhero.css') }}">
  </head>
  <body id="home">
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
      <div class="container-fluid">
        <h1 class="navbar-text">404</h1>
      </div>
    </nav>
    <div class="container" style="text-align: center">
      Sorry, not found. <a href="/">Sail back to our homepage</a>
    </div>
  </body>
</html>
