<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vikings, please!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/bootstrap-superhero.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='stylesheet/home.less') }}">
</head>
<body id="home"{% if config['DEBUG'] %} rv-on-keydown="debugStep"{% endif %}>
    <div class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <h2 class="navbar-text">Vikings, please!</h2>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <form action="/new-agent" class="navbar-form navbar-right" method="post" enctype="multipart/form-data">
                    <label for="file" rv-hide="selectedFile">
                        <input rv-on-change="submitFile" type="file" id="file" name="file" />
                        <div class="btn btn-default navbar-btn">Upload your army &nbsp;<span class="glyphicon glyphicon-open-file" aria-hidden="true"></span></div>
                    </label>
                    <div class="form-group">
                        <span class="or">Or...</span>
                        <input type="text" class="form-control" name="gist-id" placeholder="Send a gist id" />
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-1 main-battle">
                <div rv-play-game="playing">
                    <h2>{ title }</h2>
                    <div id="cr-stage">
                        <div id="frontCover" rv-on-click="playGame">
                            <span class="glyphicon glyphicon-play-circle" aria-hidden="true">
                        </div>
                    </div>
                    {% if config['DEBUG'] %}
                    
                    <div id="debugging">
                      <button
                         id="debug-mode-button"
                         rv-on-click="toggleDebug"
                         rv-text="debugMode | onoff"
                         rv-class-btn-danger="debugMode | not"
                         rv-class-btn-success="debugMode"
                         class="btn"
                         >
                      </button>
                      <h4>Debug mode</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-3" style="text-align: right">
              <h3>Armies</h3>
              <ul id="armies">
                {% for army_id, army_name in armies.iteritems() %}
                <li data-army-id="{{ army_id }}" data-army-name="{{ army_name }}"><a class="army" href="#" rv-on-click="selectArmyToBattle" ><b>{{ army_name }}</b></a></li>
                {% endfor %}
              </ul>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='libs/rivets.bundled.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/less/less.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/crafty/crafty.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/rivets.formatters.js') }}"></script>
    <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/viking.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
    {% if config['DEBUG'] %}
    <script>{% if request.args.has_key('debug') %}scope.debugMode=true;{% endif %}</script>
    {% endif %}
</body>
</html>
