<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Vikings, please!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet/bootstrap-superhero.css') }}">
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('static', filename='stylesheet/home.less') }}">
</head>
<body id="home">
    <nav class="navbar navbar-default navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file" rv-hide="selectedFile">
                    <input rv-on-change="submitFile" type="file" id="file" name="file">
                    <div class="btn btn-default navbar-btn">Upload your army &nbsp;<span class="glyphicon glyphicon-open-file" aria-hidden="true"></span></div>
                </label>
            </form>
            <h1 class="navbar-text">Vikings, please!</h1>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>Armies</h3>
                <ul id="armies">
                    {% for army in top_armies %}
                    <li data-name="{{ army.commander }}"><a class="army" href="#" rv-on-click="selectArmyToBattle" ><b>{{ army.commander }}</b></a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-7 main-battle">
                <div rv-play-game="playing">
                    <h2>{ title }</h2>
                    <div id="cr-stage">
                        <div id="frontCover" rv-on-click="playGame">
                            <span class="glyphicon glyphicon-play-circle" aria-hidden="true">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='libs/rivets.bundled.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/less/less.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/crafty/crafty.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/moment.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/lodash.js') }}"></script>
    <script src="{{ url_for('static', filename='js/globals.js') }}"></script>
    <script src="{{ url_for('static', filename='js/viking.js') }}"></script>
    <script src="{{ url_for('static', filename='js/base.js') }}"></script>
    <script src="{{ url_for('static', filename='js/game.js') }}"></script>
    <script src="{{ url_for('static', filename='js/home.js') }}"></script>
</body>
</html>
